project_name = mobilewsn

width = 1600
height = 600
number_of_threads = 4

log = true
seed_random = 1587632589
message_transmission_model = DefaultMessageTransmissionModel

nodes[0] = 20
distribuition_model[0] = RoadDistributionModel
communication_radio[0] = 30
node_radio[0] = 5
node_implementation[0] = FloodingNode
connectivity_model[0] = FloodingNodeConectivity
mobility_model[0] = SensorMobilityModel

nodes[1] = 1
distribuition_model[1] = SinkDistributionModel
communication_radio[1] = 30
node_radio[1] = 5
node_implementation[1] = SinkNode
connectivity_model[1] = FloodingNodeConectivity